<form
  class="card border"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <h3 class="red" *ngIf="error">{{errMessage}}</h3>
  <h2>Reset password</h2>
  <div class="mt20 form-control">
    <label for="emailr">Email: </label>
    <input
      id="emailr"
      type="email"
      formControlName="email"
      [ngClass]="{'invalid': form.get('email').invalid && form.get('email').touched}"
    >
    <span
      class="error"
      *ngIf="form.get('email').invalid && form.get('email').touched"
    >
      <small *ngIf="form.get('email').errors['required']">
        Email shouldn't be empty.
      </small>
      <small *ngIf="form.get('email').errors['email']">
        Write correct email.
      </small>
    </span>
  </div>
  <button
    type="submit"
    class="mt45"
    [disabled]="form.invalid || form.disabled"
  >
    Reset password
  </button>

</form>
